In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json

In [2]:
url = "https://api.overwatchleague.com/stats/players"
response = requests.get(url)

In [3]:
data1 = response.json()
data1.keys()
df1 = pd.DataFrame(data1["data"])
df1

,playerId,teamId,role,name,team,eliminations_avg_per_10m,deaths_avg_per_10m,hero_damage_avg_per_10m,healing_avg_per_10m,ultimates_earned_avg_per_10m,final_blows_avg_per_10m,time_played_total
0,5863,7697,support,AimGod,WAS,13.414336,4.687159,6721.795662,9486.871283,4.724139,3.651732,64900.715138
1,8812,7692,tank,ameng,CDH,16.470544,6.202665,7051.640852,0.724798,4.511644,5.046006,88703.810417
2,4841,4403,support,Anamo,NYE,14.165021,2.745207,3948.127250,6563.244540,3.567532,1.898150,97041.863429
3,5715,7693,offense,Architect,HZS,18.181756,4.555888,7825.862117,3806.894747,4.639483,8.087747,28710.098079
4,4652,7697,support,ArK,WAS,7.870130,2.641469,2482.555936,6825.268613,3.518943,1.320735,66326.727702
...,...,...,...,...,...,...,...,...,...,...,...,...
90,4104,4409,support,tobi,SEO,12.527639,3.561285,3821.983777,6536.903535,3.460255,2.083730,47510.945922
91,8729,4404,support,Twilight,SFS,16.044986,4.139107,7122.262343,9320.446421,5.048997,4.156948,100891.334471
92,8688,4404,support,Viol2t,SFS,17.185764,4.195764,7637.591409,10409.200261,5.300486,4.440653,110254.045210
93,5809,4408,tank,Void,SHD,19.343389,3.178936,6457.220391,250.965632,2.048810,5.555847,82291.682828
94,8813,7692,support,Yveltal,CDH,7.512112,4.692623,2209.111332,7691.353637,3.602681,1.520697,91931.532277

In [4]:
kdamean = df1.groupby("role")["eliminations_avg_per_10m"].mean() / df1.groupby("role")["deaths_avg_per_10m"].mean()
kdamed = df1.groupby("role")["eliminations_avg_per_10m"].median() / df1.groupby("role")["deaths_avg_per_10m"].median()
kdavar = df1.groupby("role")["eliminations_avg_per_10m"].var() / df1.groupby("role")["deaths_avg_per_10m"].var()
kdasd = df1.groupby("role")["eliminations_avg_per_10m"].std() / df1.groupby("role")["deaths_avg_per_10m"].std()
kdasem = df1.groupby("role")["eliminations_avg_per_10m"].sem() / df1.groupby("role")["deaths_avg_per_10m"].sem()
kdadf = pd.DataFrame({"Mean":kdamean,
                    "Median":kdamed,
                    "Variance":kdavar,
                    "Standard Deviation":kdasd,
                    "SEM":kdasem})
kdadf

             Mean    Median   Variance  Standard Deviation       SEM
role
offense  3.335354  3.467126   3.173271            1.781368  1.781368
support  2.915402  2.872171  16.519383            4.064404  4.064404
tank     3.395404  3.293305   2.639119            1.624537  1.624537

In [5]:
dmgmean = df1.groupby("role")["hero_damage_avg_per_10m"].mean()
dmgmed = df1.groupby("role")["hero_damage_avg_per_10m"].median()
dmgmin = df1.groupby("role")["hero_damage_avg_per_10m"].min()
dmgmax = df1.groupby("role")["hero_damage_avg_per_10m"].max()
dmgvar = df1.groupby("role")["hero_damage_avg_per_10m"].var()
dmgsd = df1.groupby("role")["hero_damage_avg_per_10m"].std()
dmgsem = df1.groupby("role")["hero_damage_avg_per_10m"].sem()
dmgdf = pd.DataFrame({"Mean":dmgmean,
                    "Median":dmgmed,
                    "Minimum":dmgmin,
                    "Maximum":dmgmax,  
                    "Variance":dmgvar,
                    "Standard Deviation":dmgsd,
                    "SEM":dmgsem})
dmgdf

,Mean,Median,Minimum,Maximum,Variance,Standard Deviation,SEM
role,,,,,,,
offense,7623.934801,7601.828626,5025.403255,10081.816984,2.047172e+06,1430.794298,241.848378
support,4881.611295,4423.584817,2209.111332,7692.792507,2.777894e+06,1666.701587,304.296685
tank,6545.529412,6540.073031,3955.703077,8874.897901,7.110224e+05,843.221471,153.950474

In [6]:
healmean = df1.groupby("role")["healing_avg_per_10m"].mean()
healmed = df1.groupby("role")["healing_avg_per_10m"].median()
healmin = df1.groupby("role")["healing_avg_per_10m"].min()
healmax = df1.groupby("role")["healing_avg_per_10m"].max()
healvar = df1.groupby("role")["healing_avg_per_10m"].var()
healsd = df1.groupby("role")["healing_avg_per_10m"].std()
healsem = df1.groupby("role")["healing_avg_per_10m"].sem()
healdf = pd.DataFrame({"Mean":healmean,
                    "Median":healmed,
                    "Minimum":healmin,
                    "Maximum":healmax,  
                    "Variance":healvar,
                    "Standard Deviation":healsd,
                    "SEM":healsem})
healdf

,Mean,Median,Minimum,Maximum,Variance,Standard Deviation,SEM
role,,,,,,,
offense,1846.247160,727.915197,0.000000,8276.767041,5.175494e+06,2274.971215,384.540320
support,7671.372103,7412.987988,5403.956711,10720.448760,2.731894e+06,1652.844306,301.766703
tank,382.267334,5.673166,0.000000,7443.216484,1.825726e+06,1351.194325,246.693204

In [7]:
ultmean = df1.groupby("role")["ultimates_earned_avg_per_10m"].mean()
ultmed = df1.groupby("role")["ultimates_earned_avg_per_10m"].median()
ultmin = df1.groupby("role")["ultimates_earned_avg_per_10m"].min()
ultmax = df1.groupby("role")["ultimates_earned_avg_per_10m"].max()
ultvar = df1.groupby("role")["ultimates_earned_avg_per_10m"].var()
ultsd = df1.groupby("role")["ultimates_earned_avg_per_10m"].std()
ultsem = df1.groupby("role")["ultimates_earned_avg_per_10m"].sem()
ultdf = pd.DataFrame({"Mean":ultmean,
                    "Median":ultmed,
                    "Minimum":ultmin,
                    "Maximum":ultmax,  
                    "Variance":ultvar,
                    "Standard Deviation":ultsd,
                    "SEM":ultsem})
ultdf

,Mean,Median,Minimum,Maximum,Variance,Standard Deviation,SEM
role,,,,,,,
offense,4.274267,4.293519,2.862789,5.150937,0.153689,0.392032,0.066265
support,4.060820,3.703838,3.081248,5.533913,0.598512,0.773636,0.141246
tank,3.637752,3.848655,2.048810,4.657262,0.510484,0.714482,0.130446

In [8]:
offensedf = df1.loc[df1["role"]=="offense"]
offensekda = offensedf["eliminations_avg_per_10m"]/offensedf["deaths_avg_per_10m"]
offensekdadf = pd.DataFrame({"name":offensedf["name"],"KDA":offensekda})
topoffensekdadf = offensekdadf.sort_values(["KDA"],ascending =False).head()
topoffensekdadf

          name       KDA
37       GodsB  4.459418
78  SAEBYEOLBE  4.312883
70      Profit  4.244898
67        nero  4.217712
19       Decay  4.185430

In [9]:
offensedmgdf = offensedf[["name","hero_damage_avg_per_10m"]]
topoffensedmgdf = offensedmgdf.sort_values(["hero_damage_avg_per_10m"],ascending = False).head()
topoffensedmgdf

     name  hero_damage_avg_per_10m
21   Diya             10081.816984
43    ivy              9899.923990
37  GodsB              9683.685510
27   Fits              9527.150428
18  DDing              9069.245474

In [10]:
offenseultdf = offensedf[["name","ultimates_earned_avg_per_10m"]]
topoffenseultdf = offenseultdf.sort_values(["ultimates_earned_avg_per_10m"],ascending = False).head()
topoffenseultdf

         name  ultimates_earned_avg_per_10m
73     Rascal                      5.150937
46      JinMu                      4.727063
43        ivy                      4.652073
3   Architect                      4.639483
70     Profit                      4.618088

In [11]:
supportdf = df1.loc[df1["role"]=="support"]
supportkda = supportdf["eliminations_avg_per_10m"]/supportdf["deaths_avg_per_10m"]
supportkdadf = pd.DataFrame({"name":supportdf["name"],"KDA":supportkda})
supportkdadf = supportkdadf.sort_values(["KDA"],ascending =False).head()
supportkdadf

        name       KDA
2      Anamo  5.159910
92    Viol2t  4.095979
48    JJonak  3.989231
83     SLIME  3.922173
91  Twilight  3.876437

In [12]:
supportkdmgdf = supportdf[["name","hero_damage_avg_per_10m"]]
topsupportdmgdf = supportdmgdf.sort_values(["hero_damage_avg_per_10m"],ascending = False).head()
topsupportdmgdf

NameError: name 'supportdmgdf' is not defined

In [ ]:
supporthealdf = supportdf[["name","healing_avg_per_10m"]]
topsupporthealdf = supporthealdf.sort_values(["healing_avg_per_10m"],ascending = False).head()
topsupporthealdf

In [ ]:
supportultdf = supportdf[["name","ultimates_earned_avg_per_10m"]]
topsupportultdf = supportultdf.sort_values(["ultimates_earned_avg_per_10m"],ascending = False).head()
topsupportultdf

In [ ]:
tankdf = df1.loc[df1["role"]=="tank"]
tankkda = tankdf["eliminations_avg_per_10m"]/tankdf["deaths_avg_per_10m"]
tankkdadf = pd.DataFrame({"name":tankdf["name"],"KDA":tankkda})
toptankkdadf = tankkdadf.sort_values(["KDA"],ascending =False).head()
toptankkdadf

In [ ]:
tankdmgdf = tankdf[["name","hero_damage_avg_per_10m"]]
toptankdmgdf = tankdmgdf.sort_values(["hero_damage_avg_per_10m"],ascending = False).head()
toptankdmgdf

In [ ]:
tankultdf = tankdf[["name","ultimates_earned_avg_per_10m"]]
toptankultdf = tankultdf.sort_values(["ultimates_earned_avg_per_10m"],ascending = False).head()
toptankultdf

In [ ]:
labels = ['Support','Damage','Tank']

#x = np.arange(len(labels))  # the label locations
width = 0.2# the width of the bars

fig, ax = plt.subplots()

x1 = np.arange(len(support_pick_rates))
x2 = [x + width for x in x1]
x3 = [x + width for x in x2]

rects1 = ax.bar(x1, support_pick_rates, width, label='support')
rects2 = ax.bar(x2, offense_pick_rates, width, label='offense')
rects3= ax.bar(x3, tank_pick_rates, width, label='tank')

# Add some text for labels, title and custom x-axis tick labels, etc.

ax.set_ylabel('Average Stats')
ax.set_title('Best Tanks')
#x.set_xticks(x)
#x.set_xticklabels(labels)
ax.legend()


def autolabel(rects):
    """Attach a text label above each bar in *rects*, displaying its height."""
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points",
                    ha='center', va='bottom')


autolabel(rects1)
autolabel(rects2)

fig.tight_layout()