In [1]:
# import dependecies 
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import numpy as np
import requests
import json
import csv
import os
import random

In [4]:
# creates path for csv datafile
file1= "../Resources/phs_2019_stage_1.csv"
file2= "../Resources/phs_2019_stage_2.csv"
file3= "../Resources/phs_2019_stage_3.csv"
file4= "../Resources/phs_2019_stage_4.csv"  
file5= "../Resources/phs_2019_playoffs.csv"

# create paths for api data
url1 = "https://api.overwatchleague.com/players"
url2 = "https://api.overwatchleague.com/stats/players"

In [5]:
# reads the csv and transforms it into a dataframe
overwatch_df_1 = pd.read_csv(file1)
overwatch_df_2 = pd.read_csv(file2)
overwatch_df_3 = pd.read_csv(file3)
overwatch_df_4 = pd.read_csv(file4)
overwatch_df_5 = pd.read_csv(file5)

In [6]:
# read api data 
response1 = requests.get(url1)
response = requests.get(url2)

In [7]:
# combining all csv data into one dataframe 
complete_overwatch_df = overwatch_df_1.append([overwatch_df_2, overwatch_df_3, overwatch_df_4, overwatch_df_5])

In [8]:
print(f'{len(complete_overwatch_df)} rows')
complete_overwatch_df.head(3)

1557832 rows

,pelstart_time,match_id,stage,map_type,map_name,player,team,stat_name,hero,stat_amount,start_time
0,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,All Damage Done,All Heroes,14845.193400,NaN
1,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Assists,All Heroes,13.000000,NaN
2,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Average Time Alive,All Heroes,87.623574,NaN

In [9]:
# drops the columns below
dropped_complete_overwatch_df = complete_overwatch_df.drop(columns=["pelstart_time", "map_name",  "map_type", "start_time"])

In [10]:
# Creates a list of the rows we would liek to keep
stats = ["All Damage Done", "Assists", "Average Time Alive", "Critical Hit Accuracy", "Damage - Weapon Primary",  "Damage - Weapon Secondary", "Damage Blocked", "Damage Done", "Damage Taken", "Deaths", "Eliminations", "Healing Done", "Multikills", "Primary Fire Accuracy", "Primary Fire Hits", "Secondary Fire Accuracy", "Secondary Fire Hits", "Time Alive", "Weapon Accuracy", "Ultimates Earned - Fractional"]

In [11]:
# Drops the row names that aren't included in the the list
stats_df = dropped_complete_overwatch_df[dropped_complete_overwatch_df['stat_name'].isin(stats)]
len(stats_df)

514883

In [12]:
# Displays new dataframe
stats_df

,match_id,stage,player,team,stat_name,hero,stat_amount
0,21211,Overwatch League Stage 1,Bdosin,London Spitfire,All Damage Done,All Heroes,14845.193400
1,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Assists,All Heroes,13.000000
2,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Average Time Alive,All Heroes,87.623574
5,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Damage Done,All Heroes,9039.330256
6,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Damage Taken,All Heroes,4192.611340
...,...,...,...,...,...,...,...
103939,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Healing Done,Ana,10009.825090
103942,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Multikills,Ana,2.000000
103961,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Time Alive,Ana,765.860023
103966,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Ultimates Earned - Fractional,Ana,6.755780
103971,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Weapon Accuracy,Ana,0.273504

In [13]:
stats_df["stat_name"].unique()

array(['All Damage Done', 'Assists', 'Average Time Alive', 'Damage Done',
       'Damage Taken', 'Deaths', 'Eliminations', 'Healing Done',
       'Multikills', 'Time Alive', 'Ultimates Earned - Fractional',
       'Weapon Accuracy', 'Critical Hit Accuracy',
       'Damage - Weapon Primary', 'Secondary Fire Accuracy',
       'Damage Blocked', 'Damage - Weapon Secondary',
       'Primary Fire Accuracy', 'Primary Fire Hits',
       'Secondary Fire Hits'], dtype=object)

In [14]:
# Rounds the stat_amount to four decimal places
rounded_stats_df = stats_df.round({"stat_amount" : 4})

In [15]:
# displays new dataframe 
rounded_stats_df

,match_id,stage,player,team,stat_name,hero,stat_amount
0,21211,Overwatch League Stage 1,Bdosin,London Spitfire,All Damage Done,All Heroes,14845.1934
1,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Assists,All Heroes,13.0000
2,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Average Time Alive,All Heroes,87.6236
5,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Damage Done,All Heroes,9039.3303
6,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Damage Taken,All Heroes,4192.6113
...,...,...,...,...,...,...,...
103939,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Healing Done,Ana,10009.8251
103942,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Multikills,Ana,2.0000
103961,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Time Alive,Ana,765.8600
103966,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Ultimates Earned - Fractional,Ana,6.7558
103971,30157,Overwatch League 2019 Post-Season,Twilight,Vancouver Titans,Weapon Accuracy,Ana,0.2735

In [16]:
player_count_df = rounded_stats_df["stage"].nunique()

In [17]:
Hero_name = (['Zenyatta', 'McCree', 'Zarya', 'D.Va',
       'Wrecking Ball', 'Orisa', 'Reinhardt', 'Winston', 'Lúcio',
       'Brigitte', 'Hanzo', 'Ana', 'Widowmaker', 'Doomfist', 'Tracer',
       'Soldier: 76', 'Sombra', 'Ashe', 'Mercy', 'Genji', 'Pharah',
       'Moira', 'Torbjörn', 'Reaper', 'Mei', 'Bastion', 'Symmetra',
       'Roadhog', 'Junkrat', 'Baptiste', 'Sigma'])
Role =  (['Support', 'Damage', 'Tank', 'Tank',
       'Tank', 'Tank', 'Tank', 'Tank', 'Support',
       'Support', 'Damage', 'Support', 'Damage', 'Damage', 'Damage',
       'Damage', 'Damage', 'Damage', 'Support', 'Damage', 'Damage',
       'Support', 'Damage', 'Damage', 'Damage', 'Damage', 'Damage',
       'Tank', 'Damage', "Support", 'Tank'])

hero_role = pd.DataFrame({
    "hero" : Hero_name,
    "role" : Role
})
hero_role

             hero     role
0        Zenyatta  Support
1          McCree   Damage
2           Zarya     Tank
3            D.Va     Tank
4   Wrecking Ball     Tank
5           Orisa     Tank
6       Reinhardt     Tank
7         Winston     Tank
8           Lúcio  Support
9        Brigitte  Support
10          Hanzo   Damage
11            Ana  Support
12     Widowmaker   Damage
13       Doomfist   Damage
14         Tracer   Damage
15    Soldier: 76   Damage
16         Sombra   Damage
17           Ashe   Damage
18          Mercy  Support
19          Genji   Damage
20         Pharah   Damage
21          Moira  Support
22       Torbjörn   Damage
23         Reaper   Damage
24            Mei   Damage
25        Bastion   Damage
26       Symmetra   Damage
27        Roadhog     Tank
28        Junkrat   Damage
29       Baptiste  Support
30          Sigma     Tank

In [18]:

# Merge the hero class with the main dataframe
hero_class_df = (rounded_stats_df.merge(hero_role,on="hero",how="left"))

# Drop Nan values (All Heroes) from "hero" columns 
hero_class_df = hero_class_df[hero_class_df['role'].notna()]
print(hero_class_df.head(30))

    match_id                     stage    player             team  \
12     21211  Overwatch League Stage 1    Bdosin  London Spitfire
13     21211  Overwatch League Stage 1    Bdosin  London Spitfire
14     21211  Overwatch League Stage 1    Bdosin  London Spitfire
15     21211  Overwatch League Stage 1    Bdosin  London Spitfire
16     21211  Overwatch League Stage 1    Bdosin  London Spitfire
17     21211  Overwatch League Stage 1    Bdosin  London Spitfire
18     21211  Overwatch League Stage 1    Bdosin  London Spitfire
19     21211  Overwatch League Stage 1    Bdosin  London Spitfire
20     21211  Overwatch League Stage 1    Bdosin  London Spitfire
21     21211  Overwatch League Stage 1    Bdosin  London Spitfire
22     21211  Overwatch League Stage 1    Bdosin  London Spitfire
23     21211  Overwatch League Stage 1    Bdosin  London Spitfire
24     21211  Overwatch League Stage 1    Bdosin  London Spitfire
25     21211  Overwatch League Stage 1    Bdosin  London Spitfire
38     21211  Overwatch League Stage 1  Birdring  London Spitfire
39     21211  Overwatch League Stage 1  Birdring  London Spitfire
40     21211  Overwatch League Stage 1  Birdring  London Spitfire
41     21211  Overwatch League Stage 1  Birdring  London Spitfire
42     21211  Overwatch League Stage 1  Birdring  London Spitfire
43     21211  Overwatch League Stage 1  Birdring  London Spitfire
44     21211  Overwatch League Stage 1  Birdring  London Spitfire
45     21211  Overwatch League Stage 1  Birdring  London Spitfire
46     21211  Overwatch League Stage 1  Birdring  London Spitfire
47     21211  Overwatch League Stage 1  Birdring  London Spitfire
48     21211  Overwatch League Stage 1  Birdring  London Spitfire
49     21211  Overwatch League Stage 1  Birdring  London Spitfire
50     21211  Overwatch League Stage 1  Birdring  London Spitfire
51     21211  Overwatch League Stage 1  Birdring  London Spitfire
52     21211  Overwatch League Stage 1  Birdring  London Spitfire
53     21211  Overwatch League Stage 1  Birdring  London Spitfire

                        stat_name      hero  stat_amount     role
12                All Damage Done  Zenyatta   14845.1934  Support
13                        Assists  Zenyatta      13.0000  Support
14             Average Time Alive  Zenyatta      87.6236  Support
15          Critical Hit Accuracy  Zenyatta       0.1479  Support
16        Damage - Weapon Primary  Zenyatta    6340.3303  Support
17                   Damage Taken  Zenyatta    4192.6113  Support
18                         Deaths  Zenyatta       4.0000  Support
19                   Eliminations  Zenyatta      18.0000  Support
20                   Healing Done  Zenyatta   10225.9582  Support
21                     Multikills  Zenyatta       1.0000  Support
22        Secondary Fire Accuracy  Zenyatta       0.3135  Support
23                     Time Alive  Zenyatta     613.3650  Support
24  Ultimates Earned - Fractional  Zenyatta       5.7755  Support
25                Weapon Accuracy  Zenyatta       0.3135  Support
38                All Damage Done    McCree    1439.9678   Damage
39                        Assists    McCree       1.0000   Damage
40             Average Time Alive    McCree      28.8260   Damage
41        Damage - Weapon Primary    McCree     683.1637   Damage
42      Damage - Weapon Secondary    McCree     283.0000   Damage
43                   Damage Taken    McCree     648.3386   Damage
44                         Deaths    McCree       1.0000   Damage
45                   Eliminations    McCree       1.0000   Damage
46        Secondary Fire Accuracy    McCree       0.4412   Damage
47                     Time Alive    McCree      57.6520   Damage
48  Ultimates Earned - Fractional    McCree       0.8871   Damage
49                Weapon Accuracy    McCree       0.4412   Damage
50                All Damage Done     Zarya   18040.3536     Tank
51                        Assists     Zarya      10.0000     Tank
52             Average Time Alive     Zarya     139.5113     Tank
53        Damage - Weapon Primary     Zarya    3898.9106     Tank

In [19]:
hero_picks = hero_class_df.drop_duplicates(subset=['match_id', 'hero'], keep='first')

In [20]:
hero_picks

,match_id,stage,player,team,stat_name,hero,stat_amount,role
12,21211,Overwatch League Stage 1,Bdosin,London Spitfire,All Damage Done,Zenyatta,14845.1934,Support
38,21211,Overwatch League Stage 1,Birdring,London Spitfire,All Damage Done,McCree,1439.9678,Damage
50,21211,Overwatch League Stage 1,Birdring,London Spitfire,All Damage Done,Zarya,18040.3536,Tank
78,21211,Overwatch League Stage 1,Fury,London Spitfire,All Damage Done,D.Va,13316.4290,Tank
91,21211,Overwatch League Stage 1,Fury,London Spitfire,Average Time Alive,Wrecking Ball,6.0960,Tank
...,...,...,...,...,...,...,...,...
513912,30157,Overwatch League 2019 Post-Season,Viol2t,San Francisco Shock,All Damage Done,Ana,3856.8818,Support
513923,30157,Overwatch League 2019 Post-Season,Viol2t,San Francisco Shock,All Damage Done,Baptiste,4603.0941,Support
513977,30157,Overwatch League 2019 Post-Season,moth,San Francisco Shock,Average Time Alive,Mercy,73.8903,Support
514037,30157,Overwatch League 2019 Post-Season,Haksal,Vancouver Titans,Average Time Alive,Genji,2.5960,Damage
514064,30157,Overwatch League 2019 Post-Season,JJANU,Vancouver Titans,All Damage Done,D.Va,394.2625,Tank

In [21]:
matches = hero_class_df["match_id"].unique()
len(matches)

319

In [22]:
hero_df = pd.DataFrame(hero_picks['hero'].value_counts())
hero_df = hero_df.rename(columns={"hero" : "Games Used"})

In [23]:
hero_df = hero_df.reset_index()

In [25]:
hero_df["Pick Rate"] = hero_df["Games Used"]/len(matches)*100
hero_df

            index  Games Used   Pick Rate
0           Lúcio         319  100.000000
1   Wrecking Ball         319  100.000000
2            D.Va         312   97.805643
3             Ana         307   96.238245
4          Tracer         304   95.297806
5        Zenyatta         302   94.670846
6          Sombra         297   93.103448
7      Widowmaker         295   92.476489
8         Winston         289   90.595611
9       Reinhardt         288   90.282132
10          Mercy         282   88.401254
11          Hanzo         268   84.012539
12       Brigitte         268   84.012539
13         Pharah         264   82.758621
14          Moira         258   80.877743
15          Orisa         257   80.564263
16          Zarya         252   78.996865
17       Doomfist         244   76.489028
18        Roadhog         227   71.159875
19       Baptiste         209   65.517241
20            Mei         208   65.203762
21         McCree         168   52.664577
22          Genji         164   51.410658
23        Bastion         152   47.648903
24       Symmetra         142   44.514107
25         Reaper         141   44.200627
26    Soldier: 76         141   44.200627
27        Junkrat         116   36.363636
28       Torbjörn          68   21.316614
29           Ashe          51   15.987461
30          Sigma          18    5.642633

In [26]:
hero_df = hero_df.rename(columns={"index" : "hero"})
hero_df

             hero  Games Used   Pick Rate
0           Lúcio         319  100.000000
1   Wrecking Ball         319  100.000000
2            D.Va         312   97.805643
3             Ana         307   96.238245
4          Tracer         304   95.297806
5        Zenyatta         302   94.670846
6          Sombra         297   93.103448
7      Widowmaker         295   92.476489
8         Winston         289   90.595611
9       Reinhardt         288   90.282132
10          Mercy         282   88.401254
11          Hanzo         268   84.012539
12       Brigitte         268   84.012539
13         Pharah         264   82.758621
14          Moira         258   80.877743
15          Orisa         257   80.564263
16          Zarya         252   78.996865
17       Doomfist         244   76.489028
18        Roadhog         227   71.159875
19       Baptiste         209   65.517241
20            Mei         208   65.203762
21         McCree         168   52.664577
22          Genji         164   51.410658
23        Bastion         152   47.648903
24       Symmetra         142   44.514107
25         Reaper         141   44.200627
26    Soldier: 76         141   44.200627
27        Junkrat         116   36.363636
28       Torbjörn          68   21.316614
29           Ashe          51   15.987461
30          Sigma          18    5.642633

In [27]:
hero_pickrate = hero_role.merge(hero_df, how="outer", on="hero")
hero_pickrate

             hero     role  Games Used   Pick Rate
0        Zenyatta  Support         302   94.670846
1          McCree   Damage         168   52.664577
2           Zarya     Tank         252   78.996865
3            D.Va     Tank         312   97.805643
4   Wrecking Ball     Tank         319  100.000000
5           Orisa     Tank         257   80.564263
6       Reinhardt     Tank         288   90.282132
7         Winston     Tank         289   90.595611
8           Lúcio  Support         319  100.000000
9        Brigitte  Support         268   84.012539
10          Hanzo   Damage         268   84.012539
11            Ana  Support         307   96.238245
12     Widowmaker   Damage         295   92.476489
13       Doomfist   Damage         244   76.489028
14         Tracer   Damage         304   95.297806
15    Soldier: 76   Damage         141   44.200627
16         Sombra   Damage         297   93.103448
17           Ashe   Damage          51   15.987461
18          Mercy  Support         282   88.401254
19          Genji   Damage         164   51.410658
20         Pharah   Damage         264   82.758621
21          Moira  Support         258   80.877743
22       Torbjörn   Damage          68   21.316614
23         Reaper   Damage         141   44.200627
24            Mei   Damage         208   65.203762
25        Bastion   Damage         152   47.648903
26       Symmetra   Damage         142   44.514107
27        Roadhog     Tank         227   71.159875
28        Junkrat   Damage         116   36.363636
29       Baptiste  Support         209   65.517241
30          Sigma     Tank          18    5.642633

In [28]:
hero_pickrate = hero_pickrate.sort_values(by=['role', 'Pick Rate'], ascending=False)
hero_pickrate

             hero     role  Games Used   Pick Rate
4   Wrecking Ball     Tank         319  100.000000
3            D.Va     Tank         312   97.805643
7         Winston     Tank         289   90.595611
6       Reinhardt     Tank         288   90.282132
5           Orisa     Tank         257   80.564263
2           Zarya     Tank         252   78.996865
27        Roadhog     Tank         227   71.159875
30          Sigma     Tank          18    5.642633
8           Lúcio  Support         319  100.000000
11            Ana  Support         307   96.238245
0        Zenyatta  Support         302   94.670846
18          Mercy  Support         282   88.401254
9        Brigitte  Support         268   84.012539
21          Moira  Support         258   80.877743
29       Baptiste  Support         209   65.517241
14         Tracer   Damage         304   95.297806
16         Sombra   Damage         297   93.103448
12     Widowmaker   Damage         295   92.476489
10          Hanzo   Damage         268   84.012539
20         Pharah   Damage         264   82.758621
13       Doomfist   Damage         244   76.489028
24            Mei   Damage         208   65.203762
1          McCree   Damage         168   52.664577
19          Genji   Damage         164   51.410658
25        Bastion   Damage         152   47.648903
26       Symmetra   Damage         142   44.514107
15    Soldier: 76   Damage         141   44.200627
23         Reaper   Damage         141   44.200627
28        Junkrat   Damage         116   36.363636
22       Torbjörn   Damage          68   21.316614
17           Ashe   Damage          51   15.987461

In [29]:
#transform player data api data into dataframe
data1 = response.json()
data1.keys()

dict_keys(['data'])

In [30]:
df1 = pd.DataFrame(data1["data"])
df1.head(100)

,playerId,teamId,role,name,team,eliminations_avg_per_10m,deaths_avg_per_10m,hero_damage_avg_per_10m,healing_avg_per_10m,ultimates_earned_avg_per_10m,final_blows_avg_per_10m,time_played_total
0,5863,7697,support,AimGod,WAS,13.414336,4.687159,6721.795662,9486.871283,4.724139,3.651732,64900.715138
1,8812,7692,tank,ameng,CDH,16.470544,6.202665,7051.640852,0.724798,4.511644,5.046006,88703.810417
2,4841,4403,support,Anamo,NYE,14.165021,2.745207,3948.127250,6563.244540,3.567532,1.898150,97041.863429
3,5715,7693,offense,Architect,HZS,18.181756,4.555888,7825.862117,3806.894747,4.639483,8.087747,28710.098079
4,4652,7697,support,ArK,WAS,7.870130,2.641469,2482.555936,6825.268613,3.518943,1.320735,66326.727702
...,...,...,...,...,...,...,...,...,...,...,...,...
90,4104,4409,support,tobi,SEO,12.527639,3.561285,3821.983777,6536.903535,3.460255,2.083730,47510.945922
91,8729,4404,support,Twilight,SFS,16.044986,4.139107,7122.262343,9320.446421,5.048997,4.156948,100891.334471
92,8688,4404,support,Viol2t,SFS,17.185764,4.195764,7637.591409,10409.200261,5.300486,4.440653,110254.045210
93,5809,4408,tank,Void,SHD,19.343389,3.178936,6457.220391,250.965632,2.048810,5.555847,82291.682828
94,8813,7692,support,Yveltal,CDH,7.512112,4.692623,2209.111332,7691.353637,3.602681,1.520697,91931.532277

In [31]:
#tranform player stats api into data frame 
data = response1.json()
data.keys()

dict_keys(['content', 'totalElements', 'last', 'totalPages', 'numberOfElements', 'sort', 'first', 'size', 'number'])

In [37]:
df = pd.DataFrame(data["content"])
df.head()

,id,availableLanguages,name,homeLocation,accounts,game,attributes,attributesVersion,familyName,givenName,nationality,headshot,teams,user,@etag,type,handle
0,9279,[en],ILLICIT,Suncheon,"[{'id': 13648, 'competitorId': 9279, 'value': ...",OVERWATCH,"{'heroes': ['genji'], 'player_number': 21, 'pr...",1.0.2,Park,Je Min,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4409, 'availableLanguages': [...",{'id': 920},c856ddbc,PLAYER,NaN
1,10011,[en],FunnyAstro,"Reading, England","[{'id': 14191, 'competitorId': 10011, 'value':...",OVERWATCH,"{'heroes': ['lucio', 'mercy'], 'player_number'...",1.0.2,Hathaway,Daniel,GB,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4524, 'availableLanguages': [...",{'id': 989},8f7f9011,PLAYER,NaN
2,8748,"[en, zh-cn]",JJANU,Seoul,"[{'id': 12876, 'competitorId': 8748, 'value': ...",OVERWATCH,"{'player_number': 14, 'preferred_slot': '3', '...",1.0.2,Choi,HyunWoo,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 7697, 'availableLanguages': [...",{'id': 1844},78b69123,PLAYER,NaN
3,9591,[en],frd,"Saint Louis, MO","[{'id': 13922, 'competitorId': 9591, 'value': ...",OVERWATCH,"{'heroes': ['dva', 'roadhog', 'zarya'], 'playe...",1.0.2,Goebel,Nathan,US,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 7698, 'availableLanguages': [...",{'id': 1717},14194eb9,PLAYER,NaN
4,5831,"[en, ko, zh-cn]",Choihyobin,Seoul,"[{'id': 7653, 'competitorId': 5831, 'value': '...",OVERWATCH,"{'heroes': ['dva', 'roadhog', 'zarya'], 'playe...",1.0.6,Choi,Hyobin,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4404, 'availableLanguages': [...",NaN,baa8ef49,PLAYER,choihyobin.6059

In [38]:
df = df.drop(columns=["availableLanguages", "accounts",  "game", "attributes", "attributesVersion", "headshot", "teams", "user", "@etag", "type"])
df

,id,name,homeLocation,familyName,givenName,nationality,handle
0,9279,ILLICIT,Suncheon,Park,Je Min,KR,NaN
1,10011,FunnyAstro,"Reading, England",Hathaway,Daniel,GB,NaN
2,8748,JJANU,Seoul,Choi,HyunWoo,KR,NaN
3,9591,frd,"Saint Louis, MO",Goebel,Nathan,US,NaN
4,5831,Choihyobin,Seoul,Choi,Hyobin,KR,choihyobin.6059
...,...,...,...,...,...,...,...
139,12060,Stand1,Seoul,Seo,Ji Won,KR,NaN
140,12032,Ttuba,Changwon,Lee,Hoseong,KR,NaN
141,13731,ta1yo,North Carolina,Henderson,Sean Taiyo,US,NaN
142,12096,ANS,Seoul,Lee,Seonchang,KR,NaN
143,12058,LeeJaegon,Seoul,Lee,Jae Gon,KR,NaN

In [35]:
nationality_count = pd.DataFrame(df['nationality'].value_counts())
nationality_count = nationality_count.sort_values(by='nationality', ascending=False)
# turn index into a column
nationality_count.reset_index(level=0, inplace=True)
#print(nationality_count)

df2 = nationality_count[:5].copy()

# Combine the nationalities below 3% into a new row
new_row = pd.DataFrame(data = {
    'index' : ['Others'],
    'nationality' : [nationality_count['nationality'][5:].sum()]
})

# Drop index to concat
new_row.reset_index()
df2.reset_index()
#print(f'{new_row}\n{df2}')

lower_nat = nationality_count.loc[nationality_count['nationality'] <= 4]
lower_row = lower_nat['nationality'].sum() 
lower_row

nationality_count = pd.concat([df2, new_row])
nationality_count = nationality_count.set_index('index')
nationality_count

        nationality
index
KR               87
US               16
CN               14
GB                5
FR                5
Others           17

In [ ]:
#Create pie chart of Player Nationality
labels = nationality_count.index.tolist()
sizes = nationality_count['nationality']

plt.pie(sizes, labels=labels, autopct='%1.1f%%', pctdistance=0.85, radius=2.3)

#draw circle
centre_circle = plt.Circle((0,0),1.25,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)

#plt.tight_layout()
plt.legend()

plt.show()

In [ ]:
#Create bar graph of hero pick rates

In [ ]:
support_df = hero_pickrate.loc[(hero_pickrate["role"] == "Support")]
support_df

In [ ]:
offense_df = hero_pickrate.loc[(hero_pickrate["role"] == "Damage")]
offense_df

In [ ]:
tank_df = hero_pickrate.loc[(hero_pickrate["role"] == "Tank")]
tank_df

In [ ]:
labelss = [
    (support_df.iloc[0,0]),
    (support_df.iloc[1,0]),
    (support_df.iloc[2,0]),
    (offense_df.iloc[0,0]),
    (offense_df.iloc[1,0]),
    (offense_df.iloc[2,0]),
    (tank_df.iloc[0,0]),
    (tank_df.iloc[1,0]),
    (tank_df.iloc[2,0]),   
]

pickrates = [
    (support_df.iloc[0,3]),
    (support_df.iloc[1,3]),
    (support_df.iloc[2,3]),
    (offense_df.iloc[0,3]),
    (offense_df.iloc[1,3]),
    (offense_df.iloc[2,3]),
    (tank_df.iloc[0,3]),
    (tank_df.iloc[1,3]),
    (tank_df.iloc[2,3]),   
]

colors_pickrates = ['#ffd254','#ffb31f','#ff9102',
                    '#14dc71','#1bbd66','#17a258',
                   '#27dbf5','#13b8e8','#0989c2']

x_axis = np.arange(len(labelss))
plt.xticks(x_axis, labelss, rotation=90)

plt.bar(x_axis, pickrates, align='center', color=colors_pickrates)
plt.title('Pick Rates of the Most Popular Heroes in 2019 Season')
plt.ylabel('Pickrate / %')
plt.ylim(0,(max(pickrates))+(max(pickrates)*0.2))

plt.show()

In [ ]:
# Uses locator function to locates the stat_name column, specifically "All Damage Done"
all_damage_df = hero_class_df.loc[(hero_class_df["stat_name"] == "All Damage Done")]
all_damage_df

In [ ]:
# groups the above stats into an average and groups the average by team name
all_damage_df2 = all_damage_df.groupby(["team"]).mean()["stat_amount"]
all_damage_df2

In [ ]:
# Uses locator function to locates the stat_name column, specifically "Healing Done"
all_healing_df = hero_class_df.loc[(hero_class_df["stat_name"] == "Healing Done")]
all_healing_df

In [ ]:
# groups the above stats into an average and groups the average by team name
all_healing_df2 = all_healing_df.groupby(["team"]).mean()["stat_amount"]
all_healing_df2

In [ ]:
# USes locator function to locates the stat_name column, specifically "Ultimates Earned - Fractional""
all_ult_df = hero_class_df.loc[(hero_class_df["stat_name"] == "Ultimates Earned - Fractional")].reset_index(drop=True)
all_ult_df

In [ ]:
# groups the above stats into an average and groups the average by team name
all_ult_df2 = all_ult_df.groupby(["team"]).mean()["stat_amount"]
all_ult_df2

In [ ]:
# Creates a dataframe to showcase the above averages
stat_average_df = pd.DataFrame({"Ult Charge" : all_ult_df2,
                                "Average Healing" : all_healing_df2,
                                "Average Damage" : all_damage_df2
                               })
# Displays the dataframe and sorts the values based on the highest stats 
stat_average_df.sort_values(by=["Ult Charge", "Average Healing", "Average Damage"], ascending=False)
stat_average_df

In [39]:
# Sorting all the supports in every game by the amount of healing done
hero_class_df2 = hero_class_df[['player','team','stat_name','hero','stat_amount','role']]
hero_class_dfs = hero_class_df2.loc[hero_class_df2['role']=='Support']
hero_class_dfs = hero_class_dfs.loc[hero_class_dfs['stat_name']=='Healing Done']

In [40]:
# calculate the average healing done by each support player per hero
hero_class_dfh = hero_class_dfs.sort_values(['hero', 'stat_amount'])
hero_class_mean = hero_class_dfh.groupby(by=['team','player', 'hero'])
hero_class_mean = pd.DataFrame(hero_class_mean['stat_amount'].mean())
hero_class_mean = hero_class_mean.reset_index()
hero_class_mean

                   team   player      hero  stat_amount
0         Atlanta Reign   Dogman       Ana  4988.149802
1         Atlanta Reign   Dogman  Baptiste  3510.680229
2         Atlanta Reign   Dogman  Brigitte  2136.365100
3         Atlanta Reign   Dogman     Lúcio     4.393800
4         Atlanta Reign   Dogman     Mercy  1822.655600
..                  ...      ...       ...          ...
407  Washington Justice  Stratus  Brigitte  3289.111829
408  Washington Justice  Stratus  Zenyatta  9154.236700
409  Washington Justice   sleepy       Ana  5550.974391
410  Washington Justice   sleepy     Moira  3641.202650
411  Washington Justice   sleepy  Zenyatta  9440.169490

[412 rows x 4 columns]

In [41]:
#identify the players with the highest average healing for each hero 
hahdf = hero_class_mean.sort_values(['hero','stat_amount'])
best_supports_df = hahdf.drop_duplicates(subset='hero', keep='last')
best_supports_df

                   team    player      hero   stat_amount
123    Guangzhou Charge      Rise       Ana   9862.771550
372    Vancouver Titans     Rapel  Baptiste  14268.141840
367     Toronto Defiant   Stellar  Brigitte  11884.013921
396  Washington Justice    Fahzix     Lúcio   9447.818874
122    Guangzhou Charge  Onlywish     Mercy  12597.818000
186     London Spitfire   Krillin     Moira  21389.108200
14        Atlanta Reign     Kodak  Zenyatta  14223.201207

In [42]:
#selecting the players who've done the most healing with each support hero
# this is a remnant of what was done before and kept in case we need this dataframe later in any analysis

highest_heal_df = hero_class_dfh.drop_duplicates(subset=['hero'], keep='last')
highest_heal_df = highest_heal_df[['player','team','hero','stat_amount']]
highest_heal_df = highest_heal_df.rename(columns={
    'stat_amount' : 'Healing by Top Player'
})

In [43]:
# create a data frame with the average healing done by each support
healing_byhero = hero_class_dfs.groupby(['hero']).mean()
healing_byhero

          stat_amount
hero
Ana       5203.385860
Baptiste  5938.529307
Brigitte  8897.580251
Lúcio     5912.022809
Mercy     4464.133900
Moira     8338.673868
Zenyatta  8848.593061

In [ ]:
#merging the two data frames
best_supports_df = best_supports_df.merge(healing_byhero, on='hero', how='outer')
best_supports_df = best_supports_df.rename(columns={
    'team' : 'Team',
    'player' : 'Player',
    'hero' : 'Hero',
    'stat_amount_x' : 'Healing by Top Player', 
    'stat_amount_y' : 'Average player Healing with Hero'
})
best_supports_df

In [ ]:
#Create a list of the average healing done by each team that has player in the top supports 
team_avg_list = []

for t in range(0,len(best_supports_df)):
    team_avg = stat_average_df.loc[best_supports_df.iloc[t,0],'Average Healing']
    team_avg_list.append(team_avg)

In [ ]:
#adding the list to the top support data frame
best_supports_df['Average Healing by Team'] = team_avg_list
best_supports_df = best_supports_df.sort_values(by='Average player Healing with Hero', ascending=False)
best_supports_df

In [ ]:
#plotting a grouped bar graph for the top support players 

labels = best_supports_df['Hero']

x = np.arange(len(labels))  # the label locations
width = 0.25 # the width of the bars

fig, ax = plt.subplots(figsize=(10,5))

x1 = np.arange(len(best_supports_df))
x2 = [x + width for x in x1]
x3 = [x + width for x in x2]

rects1 = ax.bar(x1, best_supports_df['Healing by Top Player'], width, label='Healing by Top Hero Player')
rects2 = ax.bar(x2, best_supports_df['Average player Healing with Hero'], width, label='Average Player Healing with Hero')
rects3= ax.bar(x3, best_supports_df['Average Healing by Team'], width, label='Average Healing by Team')

# Add some text for labels, title and custom x-axis tick labels, etc.

ax.set_ylabel('Average Healing Done')
ax.set_title('Average Healing done by Best Supports')
ax.set_xticks(x)
ax.set_xticklabels(labels)
ax.legend()
plt.savefig('Average Healing done by Best Supports')
fig.tight_layout()

In [ ]:
#Now we do the same for the tanks and offense 

# Sorting all the tanks in every game by ult charge 
hero_class_dft = hero_class_df2.loc[hero_class_df2['role']=='Tank']
hero_class_dft = hero_class_dft.loc[hero_class_dft['stat_name']=='Ultimates Earned - Fractional']

In [ ]:
# calculate the average healing done by each support player per hero
hero_class_dft = hero_class_dft.sort_values(['hero', 'stat_amount'])
hero_class_meant = hero_class_dft.groupby(by=['team','player', 'hero'])
hero_class_meant = pd.DataFrame(hero_class_meant['stat_amount'].mean())
hero_class_meant = hero_class_meant.reset_index()

In [ ]:
#identify the players with the highest average healing for each hero 
haudf = hero_class_meant.sort_values(['hero','stat_amount'])
best_tanks_df = haudf.drop_duplicates(subset='hero', keep='last')

In [ ]:
# create a data frame with the average healing done by each support
ult_byhero = hero_class_dft.groupby(['hero']).mean()

In [ ]:
#merging the two data frames
best_tanks_df = best_tanks_df.merge(ult_byhero, on='hero', how='outer')
best_tanks_df = best_tanks_df.rename(columns={
    'team' : 'Team',
    'player' : 'Player',
    'hero' : 'Hero',
    'stat_amount_x' : 'Ult Charge by Top Player', 
    'stat_amount_y' : 'Average player Ult Charge with Hero'
})

In [ ]:
#Create a list of the average ult done by each team that has player in the top supports 
team_avg_listt = []

for t in range(0,len(best_tanks_df)):
    team_avg = stat_average_df.loc[best_tanks_df.iloc[t,0],'Ult Charge']
    team_avg_listt.append(team_avg)

#adding the list to the top tanks data frame
best_tanks_df['Average Ult Charge by Team'] = team_avg_listt
best_tanks_df = best_tanks_df.sort_values(by='Average player Ult Charge with Hero', ascending=False)
best_tanks_df

In [ ]:
#plotting a grouped bar graph for the top tank players 

labelst = best_tanks_df['Hero']

x = np.arange(len(labelst))  # the label locations
width = 0.25 # the width of the bars

fig, ax = plt.subplots(figsize=(10,5))


x1 = np.arange(len(best_tanks_df))
x2 = [x + width for x in x1]
x3 = [x + width for x in x2]

rects1 = ax.bar(x1, best_tanks_df['Ult Charge by Top Player'], width, label='Ult Charge by Top Hero Player')
rects2 = ax.bar(x2, best_tanks_df['Average player Ult Charge with Hero'], width, label='Average Ult Charge with Hero')
rects3= ax.bar(x3, best_tanks_df['Average Ult Charge by Team'], width, label='Average Ult Charge by Team')

# Add some text for labels, title and custom x-axis tick labels, etc.

ax.set_ylabel('Average Ult Charge')
ax.set_title('Average Ult Charge by Best Tanks')
ax.set_xticks(x)
ax.set_xticklabels(labelst)
ax.legend()
plt.savefig('Average Ult Charge done by Best Tanks')

fig.tight_layout()

In [ ]:
# Sorting all the tanks in every game by ult charge 
hero_class_dfd = hero_class_df2.loc[hero_class_df2['role']=='Damage']
hero_class_dfd = hero_class_dfd.loc[hero_class_dfd['stat_name']=='All Damage Done']

In [ ]:
# calculate the average healing done by each support player per hero
hero_class_dfd = hero_class_dfd.sort_values(['hero', 'stat_amount'])
hero_class_meand = hero_class_dfd.groupby(by=['team','player', 'hero'])
hero_class_meand = pd.DataFrame(hero_class_meand['stat_amount'].mean())
hero_class_meand = hero_class_meand.reset_index()

In [ ]:
#identify the players with the highest average healing for each hero 
haddf = hero_class_meand.sort_values(['hero','stat_amount'])
best_damage_df = haddf.drop_duplicates(subset='hero', keep='last')

In [ ]:
# create a data frame with the average healing done by each support
damage_byhero = hero_class_dfd.groupby(['hero']).mean()

In [ ]:
#merging the two data frames
best_damage_df = best_damage_df.merge(damage_byhero, on='hero', how='outer')
best_damage_df = best_damage_df.rename(columns={
    'team' : 'Team',
    'player' : 'Player',
    'hero' : 'Hero',
    'stat_amount_x' : 'Damage by Top Player', 
    'stat_amount_y' : 'Average player Damage with Hero'
})

In [ ]:
#Create a list of the average ult done by each team that has player in the top supports 
team_avg_listd = []

for t in range(0,len(best_damage_df)):
    team_avg = stat_average_df.loc[best_damage_df.iloc[t,0],'Average Damage']
    team_avg_listd.append(team_avg)

#adding the list to the top tanks data frame
best_damage_df['Average Damage by Team'] = team_avg_listd
best_damage_df = best_damage_df.sort_values(by='Average player Damage with Hero', ascending=False)
best_damage_df

In [ ]:
#plotting a grouped bar graph for the top damage players 

labelsd = best_damage_df['Hero']

x = np.arange(len(labelsd))  # the label locations
width = 0.25 # the width of the bars

fig, ax = plt.subplots(figsize=(16,5))

x1 = np.arange(len(best_damage_df))
x2 = [x + width for x in x1]
x3 = [x + width for x in x2]

rects1 = ax.bar(x1, best_damage_df['Damage by Top Player'], width, label='Damage by Top Hero Player')
rects2 = ax.bar(x2, best_damage_df['Average player Damage with Hero'], width, label='Average Player Damage with Hero')
rects3= ax.bar(x3, best_damage_df['Average Damage by Team'], width, label='Average Damage by Team')

# Add some text for labels, title and custom x-axis tick labels, etc.

ax.set_ylabel('Average Damge Done')
ax.set_title('Average Damage done by Best Damage Players')
ax.set_xticks(x)
ax.set_xticklabels(labelsd)
ax.legend()
plt.savefig('Average Damage done by Best Damage Players')

fig.tight_layout()

In [ ]:
dam5 = best_damage_df.head(5)
ult5 = best_tanks_df.head(5)
sup5 = best_supports_df.head(5)

dam5