In [2]:
# import dependecies 
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import numpy as np
import requests
import json
import csv
import os
import random

In [6]:
# creates path for csv datafile
file1= "../Resources/phs_2019_stage_1.csv"
file2= "../Resources/phs_2019_stage_2.csv"
file3= "../Resources/phs_2019_stage_3.csv"
file4= "../Resources/phs_2019_stage_4.csv"  
file5= "../Resources/phs_2019_playoffs.csv"

# create paths for api data
url1 = "https://api.overwatchleague.com/players"
url2 = "https://api.overwatchleague.com/stats/players"

In [7]:
# reads the csv and transforms it into a dataframe
overwatch_df_1 = pd.read_csv(file1)
overwatch_df_2 = pd.read_csv(file2)
overwatch_df_3 = pd.read_csv(file3)
overwatch_df_4 = pd.read_csv(file4)
overwatch_df_5 = pd.read_csv(file5)

In [8]:
# read api data 
response1 = requests.get(url1)
response = requests.get(url2)

In [9]:
# combining all csv data into one dataframe 
complete_overwatch_df = overwatch_df_1.append([overwatch_df_2, overwatch_df_3, overwatch_df_4, overwatch_df_5])
complete_overwatch_df

,pelstart_time,match_id,stage,map_type,map_name,player,team,stat_name,hero,stat_amount,start_time
0,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,All Damage Done,All Heroes,14845.193400,NaN
1,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Assists,All Heroes,13.000000,NaN
2,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Average Time Alive,All Heroes,87.623574,NaN
3,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Barrier Damage Done,All Heroes,5674.344475,NaN
4,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Damage - Quick Melee,All Heroes,78.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
103967,NaN,30157,Overwatch League 2019 Post-Season,PAYLOAD,Watchpoint: Gibraltar,Twilight,Vancouver Titans,Ultimates Used,Ana,6.000000,9/29/2019 20:47
103968,NaN,30157,Overwatch League 2019 Post-Season,PAYLOAD,Watchpoint: Gibraltar,Twilight,Vancouver Titans,Unscoped Accuracy,Ana,0.528777,9/29/2019 20:47
103969,NaN,30157,Overwatch League 2019 Post-Season,PAYLOAD,Watchpoint: Gibraltar,Twilight,Vancouver Titans,Unscoped Hits,Ana,147.000000,9/29/2019 20:47
103970,NaN,30157,Overwatch League 2019 Post-Season,PAYLOAD,Watchpoint: Gibraltar,Twilight,Vancouver Titans,Unscoped Shots,Ana,278.000000,9/29/2019 20:47
103971,NaN,30157,Overwatch League 2019 Post-Season,PAYLOAD,Watchpoint: Gibraltar,Twilight,Vancouver Titans,Weapon Accuracy,Ana,0.273504,9/29/2019 20:47

In [10]:
# drops unneeded columns
dropped_complete_overwatch_df = complete_overwatch_df.drop(columns=["pelstart_time", "map_name",  "map_type", "start_time"])

In [11]:
# Creates a list of the rows we would like to keep
stats = ["All Damage Done", "Assists", "Average Time Alive", "Critical Hit Accuracy", "Damage - Weapon Primary",  "Damage - Weapon Secondary", "Damage Blocked", "Damage Done", "Damage Taken", "Deaths", "Eliminations", "Healing Done", "Multikills", "Primary Fire Accuracy", "Primary Fire Hits", "Secondary Fire Accuracy", "Secondary Fire Hits", "Time Alive", "Weapon Accuracy", "Ultimates Earned - Fractional"]

#keeps only the rows with needed stats
stats_df = dropped_complete_overwatch_df[dropped_complete_overwatch_df['stat_name'].isin(stats)]

# Rounds the stat_amount to four decimal places
rounded_stats_df = stats_df.round({"stat_amount" : 4})

In [12]:
#Define Hero Roles and create a data frame
Hero_name = (['Zenyatta', 'McCree', 'Zarya', 'D.Va',
       'Wrecking Ball', 'Orisa', 'Reinhardt', 'Winston', 'LÃºcio',
       'Brigitte', 'Hanzo', 'Ana', 'Widowmaker', 'Doomfist', 'Tracer',
       'Soldier: 76', 'Sombra', 'Ashe', 'Mercy', 'Genji', 'Pharah',
       'Moira', 'TorbjÃ¶rn', 'Reaper', 'Mei', 'Bastion', 'Symmetra',
       'Roadhog', 'Junkrat', 'Baptiste', 'Sigma'])
Role =  (['Support', 'Damage', 'Tank', 'Tank',
       'Tank', 'Tank', 'Tank', 'Tank', 'Support',
       'Support', 'Damage', 'Support', 'Damage', 'Damage', 'Damage',
       'Damage', 'Damage', 'Damage', 'Support', 'Damage', 'Damage',
       'Support', 'Damage', 'Damage', 'Damage', 'Damage', 'Damage',
       'Tank', 'Damage', "Support", 'Tank'])

hero_role = pd.DataFrame({
    "hero" : Hero_name,
    "role" : Role
})
hero_role

             hero     role
0        Zenyatta  Support
1          McCree   Damage
2           Zarya     Tank
3            D.Va     Tank
4   Wrecking Ball     Tank
5           Orisa     Tank
6       Reinhardt     Tank
7         Winston     Tank
8           LÃºcio  Support
9        Brigitte  Support
10          Hanzo   Damage
11            Ana  Support
12     Widowmaker   Damage
13       Doomfist   Damage
14         Tracer   Damage
15    Soldier: 76   Damage
16         Sombra   Damage
17           Ashe   Damage
18          Mercy  Support
19          Genji   Damage
20         Pharah   Damage
21          Moira  Support
22       TorbjÃ¶rn   Damage
23         Reaper   Damage
24            Mei   Damage
25        Bastion   Damage
26       Symmetra   Damage
27        Roadhog     Tank
28        Junkrat   Damage
29       Baptiste  Support
30          Sigma     Tank

In [14]:
# Merge the hero class with the main dataframe
hero_class_df = (rounded_stats_df.merge(hero_role,on="hero",how="left"))

# Drop Nan values (All Heroes) from "hero" columns 
hero_class_df = hero_class_df[hero_class_df['role'].notna()]
hero_class_df.head()

,match_id,stage,player,team,stat_name,hero,stat_amount,role
12,21211,Overwatch League Stage 1,Bdosin,London Spitfire,All Damage Done,Zenyatta,14845.1934,Support
13,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Assists,Zenyatta,13.0000,Support
14,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Average Time Alive,Zenyatta,87.6236,Support
15,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Critical Hit Accuracy,Zenyatta,0.1479,Support
16,21211,Overwatch League Stage 1,Bdosin,London Spitfire,Damage - Weapon Primary,Zenyatta,6340.3303,Support

In [16]:
#transform player data api data into dataframe
data1 = response.json()
data1.keys()

dict_keys(['data'])

In [18]:
df1 = pd.DataFrame(data1["data"])
df1.head()

,playerId,teamId,role,name,team,eliminations_avg_per_10m,deaths_avg_per_10m,hero_damage_avg_per_10m,healing_avg_per_10m,ultimates_earned_avg_per_10m,final_blows_avg_per_10m,time_played_total
0,5863,7697,support,AimGod,WAS,13.414336,4.687159,6721.795662,9486.871283,4.724139,3.651732,64900.715138
1,8812,7692,tank,ameng,CDH,16.470544,6.202665,7051.640852,0.724798,4.511644,5.046006,88703.810417
2,4841,4403,support,Anamo,NYE,14.165021,2.745207,3948.127250,6563.244540,3.567532,1.898150,97041.863429
3,5715,7693,offense,Architect,HZS,18.181756,4.555888,7825.862117,3806.894747,4.639483,8.087747,28710.098079
4,4652,7697,support,ArK,WAS,7.870130,2.641469,2482.555936,6825.268613,3.518943,1.320735,66326.727702

In [23]:
#tranform player stats api into data frame 
data = response1.json()
data.keys()

dict_keys(['content', 'totalElements', 'last', 'totalPages', 'numberOfElements', 'sort', 'first', 'size', 'number'])

In [24]:
df = pd.DataFrame(data["content"])
df

,id,availableLanguages,name,homeLocation,accounts,game,attributes,attributesVersion,familyName,givenName,nationality,headshot,teams,user,@etag,type,handle
0,9279,[en],ILLICIT,Suncheon,"[{'id': 13648, 'competitorId': 9279, 'value': ...",OVERWATCH,"{'heroes': ['genji'], 'player_number': 21, 'pr...",1.0.2,Park,Je Min,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4409, 'availableLanguages': [...",{'id': 920},c856ddbc,PLAYER,NaN
1,10011,[en],FunnyAstro,"Reading, England","[{'id': 14191, 'competitorId': 10011, 'value':...",OVERWATCH,"{'heroes': ['lucio', 'mercy'], 'player_number'...",1.0.2,Hathaway,Daniel,GB,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4524, 'availableLanguages': [...",{'id': 989},8f7f9011,PLAYER,NaN
2,8748,"[en, zh-cn]",JJANU,Seoul,"[{'id': 12876, 'competitorId': 8748, 'value': ...",OVERWATCH,"{'player_number': 14, 'preferred_slot': '3', '...",1.0.2,Choi,HyunWoo,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 7697, 'availableLanguages': [...",{'id': 1844},78b69123,PLAYER,NaN
3,9591,[en],frd,"Saint Louis, MO","[{'id': 13922, 'competitorId': 9591, 'value': ...",OVERWATCH,"{'heroes': ['dva', 'roadhog', 'zarya'], 'playe...",1.0.2,Goebel,Nathan,US,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 7698, 'availableLanguages': [...",{'id': 1717},14194eb9,PLAYER,NaN
4,5831,"[en, ko, zh-cn]",Choihyobin,Seoul,"[{'id': 7653, 'competitorId': 5831, 'value': '...",OVERWATCH,"{'heroes': ['dva', 'roadhog', 'zarya'], 'playe...",1.0.6,Choi,Hyobin,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4404, 'availableLanguages': [...",NaN,baa8ef49,PLAYER,choihyobin.6059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,12060,[en],Stand1,Seoul,"[{'id': 16005, 'competitorId': 12060, 'value':...",OVERWATCH,"{'player_number': 17, 'preferred_slot': '2', '...",1.0.3,Seo,Ji Won,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4408, 'availableLanguages': [...",{'id': 1775},11638ba3,PLAYER,NaN
140,12032,[en],Ttuba,Changwon,"[{'id': 16022, 'competitorId': 12032, 'value':...",OVERWATCH,"{'player_number': 21, 'preferred_slot': '1', '...",1.0.3,Lee,Hoseong,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 7697, 'availableLanguages': [...",{'id': 2286},e008a5f0,PLAYER,NaN
141,13731,[en],ta1yo,North Carolina,[],OVERWATCH,"{'player_number': 47, 'preferred_slot': '1', '...",1.0.6,Henderson,Sean Taiyo,US,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4404, 'availableLanguages': [...",{'id': 458},4c417b82,PLAYER,NaN
142,12096,[en],ANS,Seoul,"[{'id': 16086, 'competitorId': 12096, 'value':...",OVERWATCH,"{'player_number': 10, 'preferred_slot': '0', '...",1.0.6,Lee,Seonchang,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4404, 'availableLanguages': [...",{'id': 4688},e3a5e2cd,PLAYER,NaN
143,12058,[en],LeeJaegon,Seoul,"[{'id': 16018, 'competitorId': 12058, 'value':...",OVERWATCH,"{'player_number': 2, 'preferred_slot': '4', 'r...",1.0.6,Lee,Jae Gon,KR,https://images.blz-contentstack.com/v3/assets/...,"[{'team': {'id': 4408, 'availableLanguages': [...",{'id': 3176},56ff3a83,PLAYER,NaN

In [25]:
df = df.drop(columns=["availableLanguages", "accounts",  "game", "attributes", "attributesVersion", "headshot", "teams", "user", "@etag", "type"])
df

,id,name,homeLocation,familyName,givenName,nationality,handle
0,9279,ILLICIT,Suncheon,Park,Je Min,KR,NaN
1,10011,FunnyAstro,"Reading, England",Hathaway,Daniel,GB,NaN
2,8748,JJANU,Seoul,Choi,HyunWoo,KR,NaN
3,9591,frd,"Saint Louis, MO",Goebel,Nathan,US,NaN
4,5831,Choihyobin,Seoul,Choi,Hyobin,KR,choihyobin.6059
...,...,...,...,...,...,...,...
139,12060,Stand1,Seoul,Seo,Ji Won,KR,NaN
140,12032,Ttuba,Changwon,Lee,Hoseong,KR,NaN
141,13731,ta1yo,North Carolina,Henderson,Sean Taiyo,US,NaN
142,12096,ANS,Seoul,Lee,Seonchang,KR,NaN
143,12058,LeeJaegon,Seoul,Lee,Jae Gon,KR,NaN